:root {
    --vp-c-brand-1: #646cff;
    --vp-c-brand-2: #747bff;
    --vp-home-hero-image-background-image: linear-gradient(180deg, var(--vp-home-hero-name-color) 50%,#27332a 50%);
    --vp-home-hero-image-filter: blur(40px);
}

.VPImage {
    border-radius: 5px;
}

.VPImage.image-src {
    width: min(25vw, 200px);
    height: min(25vw, 200px);
}

.image-src {
    border-radius: 20px;
}

.dark .vp-doc .custom-block a {
    transition: color 0.25s;
}