name: Deploy Documentation

on:
    push:
        branches:
            - master
        paths:
            - docs/**
            - README.md

permissions:
    contents: write
    pages: write
    id-token: write

concurrency:
    group: "pages"
    cancel-in-progress: false

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - uses: actions/setup-node@v4
              with:
                  registry-url: https://registry.npmjs.org/
                  node-version: 22

            - uses: pnpm/action-setup@v4
              name: Install pnpm
              id: pnpm-install
              with:
                  version: 10
                  cache: false

            - name: Install dependencies
              run: pnpm install

            - name: Build
              run: pnpm docs:build

            - name: Set CNAME
              shell: bash
              run: |
                  echo "xterminal.js.org" > docs/.vitepress/dist/CNAME

            - name: Deploy
              uses: peaceiris/actions-gh-pages@v3
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: docs/.vitepress/dist
